## common ignore rules ##

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]in/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
.vs
*.log
/Assets/StreamingAssets/
/Assets/StreamingAssets.meta
/Assets/Temp/
/Assets/Temp.meta
*.csproj
*.sln
**/.vscode/

**~$*

**/obj/
**/obj.meta

**/XLua/Gen/
**/XLua/Gen.meta

## Output path for "Asset Bundle Browser"
/patches/
##
